.badge {
    width: 70px;
    height: 24px;
    border-radius: 20px;
    position: absolute;
    margin-top: 18px;
    z-index: -1;
    margin-left: -9px;
}
.blue-badge {
    background-color: $light-blue;
}