.footer {
    margin-top: 230px;
    &__top {
        width: 100%;
        position: absolute;
        z-index: -2;
        margin-top: -150px;
        height: auto;
    }
    &__title {
        text-align: center;
        font-family: "Abhaya Libre";
        color: $body-titles;
        margin-top: 50px;
    }
    &__description {
        text-align: center;
        font-family: "Filson pro";
        color: $light-grey;
        margin: 0 auto;
        margin-top: 40px;
        max-width: 450px;
    }
    &__bg-color {
        position: absolute;
        background-color: $light-blue;
        height: 400px;
        width: 100%;
        z-index: -2;
    }
}