.cont-title {
    padding: 100px;
    @media (max-width: 700px) {
        padding: 100px 50px;
    }
    h1.title {
        font-family: "Abhaya Libre";
        font-weight: 700;
        color: $body-titles;
    }
}