* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import "styles/variables.scss";
@import "styles/badge.scss";
@import "styles/topbar.scss";
@import "styles/header-title.scss";
@import "styles/carousel.scss";
@import "styles/buttons.scss";

